.btnStatus_todo{
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
}

.btnStatus_inprogress{
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    color: rgb(241, 186, 6);
    border: solid 1px ;
}

.btnStatus_complete{
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    color: rgb(35, 197, 30);
    border: solid 1px ;
}

